@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        &_fz48 {
            font-size: 40px;
        }
    }
    
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px; 
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        padding-top: 46px;
        &__wrapper {
            padding: 40px 10px 0 10px;
            grid-template-columns: repeat(2,425px);
            column-gap: 80px;
        }
    }
    .skills {
        padding-top: 46px;
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        } 
    }
	.portfolio {
        &__wrapper {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-auto-rows: 280px;
			justify-content: space-around;
			row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
	.contacts {
		padding-top: 46px;
		&__wrapper{
			padding: 0;
			grid-template-columns: 350px 550px;
			justify-content: space-around;
		}
		&__form {
			grid-template: 45px 190px 45px / repeat(2, auto);
		}
	}
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__title {
            width: 395px;
        }
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
        &_fz48 {
            font-size: 40px;
            line-height: 50px;
        }
    }
    .about {
        padding-top: 46px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 46px;
        &__wrapper {
            padding: 40px 10 0 10;
            grid-template-columns: repeat(2,342px);
            column-gap: 35px;
        }
        &__column {
            ul {
                width: 300px;
            }
        }
        &__item {
            &-location {
                width: 270px;
            }
        }
    }
    .skills {
        &__items {
            padding: 0 20px;
        }
        &__ratings {
            margin-top: 40px;
            grid-template-columns: repeat(auto-fit, 320px);
            column-gap: 0;
            justify-content: space-between;
            &-line {
                width: 100%;
            }
        } 
    }
	.price {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 350px);
			padding: 0;
		}
	}
	.contacts {
		&__wrapper {
			grid-template-columns: 260px 430px;
		}
		&__form {
			column-gap: 15px;
			row-gap: 20px;
		}
		&__triggers {
			column-gap: 20px;
			.btn {
				padding: 12px 15px;
			}
		}
	}
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
        &_fz14 {
            font-size: 12px;
        }
    }
    .promo {
        padding-top: 170px;
        &__title {
            width: 270px;
            line-height: 39px;
        }
        &__btns {
            margin: 10px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 46px;
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: auto auto;
        }
        &__column {
            ul {
                width: 250px;
            }
        }
        &__item {
            &-location {
                width: 160px;
            }
        }
    }
    .skills {
        .divider {
            margin-top: 15px;
        }
        &__items {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
        &__ratings {
            margin-top: 40px;
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            column-gap: 0;
            justify-content: center;
            &-line {
                width: 100%;
            }
        } 
    }
	.portfolio {
		padding-top: 40px;
	}
	.price {
		padding-top: 40px;
		&__wrapper {
			margin-top: 20px;
			justify-content: center;
		}
	}
	.contacts {
		&__wrapper {
			grid-template-columns: 1fr;
		}
		&__photo {
			display: none;
		}
		&__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
	}
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 23px;
        }
        &_fz16 {
            font-size: 16px;
            margin-bottom: 0;
        }
        &_fz36 {
            font-size: 24px;
        }
        &_fz32 {
            padding: 0 58px 0 53px;
            font-size: 24px;
            line-height: 36px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        padding-top: 50px;
        background: url('../img/main_bg.jpg') no-repeat 65%/cover;
        &__title {
            width: 300px;
            line-height: 30px;
        }
        &__btns {
            margin-top: 55vh;
            height: 75px;
            justify-content: space-around;
            width: 300px;
            margin-left: 3px;
        }
        .hamburger {
            right: 20px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;  
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        padding-top: 46px;
        .divider {
            margin: 0 auto;
        }
        &__wrapper{
            padding: 40px 10px 0 10px;
            grid-template-columns: 300px;
            grid-auto-rows: auto;
        }
        &__column {
            ul {
                width: 292px;
            }
        }
        &__item {
            &-location {
                width: 194px;
            }
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
	.price {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 295px);
		}
	}
	.contacts {
		padding-bottom: 50px;
		&__wrapper {
			grid-template-columns: 1fr;
		}
		&__form {
			grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
		}
		&__textarea {
			grid-column: unset;
			width: 100%;
		}
		&__triggers {
			grid-column: unset;
			column-gap: unset;
			grid-template-columns: 1fr;
			row-gap: 20px;
		}
		&__btn {
			order: 2;
			margin: 0 auto;
			max-width: 220px;
		}
		&__policy {
			margin: 0 auto;
			width: 180px;
			line-height: 18px;
		}


	}
}